.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content{
    flex: 1;
    overflow: auto;
    margin-top: 10px;
}

.dragOver{
    border: solid #3F51B5 4px;
}

.uploadingFile{
    z-index: 10000;
    position:absolute;
    left: 40%;
    right: 50%;
    top: 80%;
    width: 200px;
}

table{
    width: 100%;
}

.mat-table {
    overflow-x: scroll;
}

.mat-row:hover {
    /* background-color: rgba(0,0,0,.4); */
    cursor: pointer;
}

.mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .mat-row,
  .mat-header-row {
    display: table-row;
  }


.uploadingFile .uploadingFileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    justify-items: center;
    align-items: center;

}

.uploadingFile .uploadingFileContainer .image img{

    width: 40px;
    height: 40px;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}

.uploadingFileContainer .uploadingFile .text{
    background: #3F51B5;
    
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.selected{
    background: #E8F0FE;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.selected .mat-cell{
    color: #3F51B5;
}

.nameColumn{
    width: 8000px;
}