<div class="addButton">
  <button
    mat-icon-button
    [matMenuTriggerFor] = "options">
    <mat-icon>
      add
    </mat-icon>
    Add
  </button>

</div>

<mat-menu #options="matMenu">

  <button mat-menu-item
          (click) = "openNewSharedDriveDialog()">
    <mat-icon>add</mat-icon>
    <span>Add Shared Drive</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item
          (click) = "openNewFolderDialog()">
    <mat-icon>add</mat-icon>
    <span>Add Folder</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item
          (click) = "uploadAFile()">
    <mat-icon>file_upload</mat-icon>
    <span>Upload a file</span>
  </button>

</mat-menu>

<input multiple type="file" id="fileUploader" style="display: none;" (change) = "fileUploaded($event)">

<mat-tree 
    [dataSource]="dataSource" 
    [treeControl]="treeControl" 
    class="example-tree"
    matTreeNodePaddingIndent="20">
      <mat-tree-node 
        *matTreeNodeDef="let node" 
        matTreeNodeToggle 
        class="mainNodes" 
        (click) = "nodeClicked(node)">
          <img class="folderImg" src="/assets/images/folder.png">
          {{node.fileName}}
      </mat-tree-node>

      <mat-nested-tree-node 
        *matTreeNodeDef="let node;
        when: hasChild">

        <div class="mat-tree-node" (click) = "nodeClicked(node)">
          <button 
            mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.fileName">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
          </button>
          
          <img class="folderImg" src="/assets/images/folder.png">
          {{node.fileName}}
        </div>

        <div 
          [class.example-tree-invisible]="!treeControl.isExpanded(node)"
          role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
</mat-tree>