.mat-tree{
  padding-top: 20px
}

.mat-tree-node {
    min-height: 25px;
    min-width: 30px;
}

.example-tree .mainNodes {
  padding-top: 5px;
  padding-left: 40px;
  padding-bottom: 5px;
}

.mat-tree-node:hover {
   color: #3F51B5;
   text-decoration: underline #3F51B5;
   cursor: pointer;
}

.example-tree-invisible {
    display: none;
}

.folderImg{
    margin-right: 5px;
}
  
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
  
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 10px;
}

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}