<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content>

    <mat-form-field appearance="fill">
        <mat-label>Folder Name :</mat-label>
        
        <input 
            matInput 
            placeholder="Ex. New Folder" 
            required 
            [formControl] = "folderName"
            (input) = "folerNameChanged($event)">

        <mat-error *ngIf = "folderName.invalid">
            {{getFolderNameErrors()}}
        </mat-error>
      </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click) = "createFolder()" >Create</button>
</mat-dialog-actions>