<h2 mat-dialog-title>Add Shared Drive</h2>

<mat-dialog-content>

    <mat-form-field appearance="fill">
        <mat-label>Shared Folder Name :</mat-label>
        
        <input 
            matInput 
            placeholder="Ex. My Shared Drive" 
            required 
            [formControl] = "sharedFolderName"
            (input) = "sharedFolderNameChanged($event)">

        <mat-error *ngIf = "sharedFolderName.invalid">
            {{getSharedFolderNameErrors()}}
        </mat-error>
      </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click) = "saveDialog()" >Create</button>
</mat-dialog-actions>