.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.app-sidenav-container{
    flex: 1;
}

.app-sidenav-content{

    display: flex;
    height: 100%;

    flex-direction: column;
}

.wrapper{

    margin-left: 20px;
    margin-right: 20px;
}

.app-sidenav{
    width: 240px;
}

.btnMainSite{
    align-content: flex-end;
}