.loginBox{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    border: solid 3px #3F51B5;
    border-radius: 20px;
    box-shadow: 5px 10px #888888;
}


.loginContainer .loginTitle{

    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.loginContainer .loginTitle h2{
    color: #3F51B5;
}

.loginContainer .options{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.loginContainer .options .register{
    margin-top: 10px;
}

.loginContainer .options a{
    text-decoration: none;
    color: #3F51B5;
}

.loginContainer .options .btnLogin{
    margin-left: 20px;
}


@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #3F51B5;
    animation: spinner .8s linear infinite;
  }

  .mat-form-field{
    width: 250px;
}
